*{
 margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
  scroll-behavior: smooth;
}

body{
    background-color: black;
}

.grid-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    padding: 30px 20px 0 20px;
}

iframe{
    padding: 2rem;
}

.tuts{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 1rem;
    cursor: default;
}





h2{
    display: grid;
    justify-content: center;
    color: white;
    padding: .25rem;
    transition: 0.3s;
}

h2:hover{
    color: #e2b616;
    transition: 0.3s;
    cursor: default;
}

.footer{
    background-color: rgb(45, 45, 45);
    height: 50px;
}

.footer__txt{
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;

}

